# Datasets & Cached Images
dataset/
data/
*.jpg
*.png
*.jpeg

# Python / Environment / Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.venv
env/
.env

# Model Checkpoints & Weights
*.h5
*.pth
*.pt
*.onnx

# OS generated
.DS_Store
Thumbs.db
